{% extends "write_base.html" %}

<!-- 화면 첫 부분 -->

{% block intro %}
<h1>공지사항</h1>
{% endblock %}

<!-- 메인 -->

{% block main %}
<header class="major">
  <article class="post featured">
    <h2>장/모임 승인하기</h2>
    <form action="." method="POST">
      {% csrf_token %}
      <div class="form-group">
        {% if markets == None %}
        <p>
          승인할 장/모임이 없습니다.
        </p>
        {% endif %}
        <label for="market_name" style="float: left;">재능장 선택</label>
        <select name="market_name" id="id_market_name">
          {% for market in markets %}
          <option value="{{ market.market_name }}">{{ market.market_name }}</option>
          {% endfor %}
        </select>
        <br />
        <label for="authorization" style="float: left;">승인 여부</label>
        <select name="authorization" id="id_authorization">
          <option value="Y">Y</option>
          <option value="N">N</option>
        </select>
      </div>
      {% if field.errors %}
      <span style="color: red">{{ field.errors }}</span>
      {% endif %}
      <input type="submit" value="제출">
    </form>
  </article>
  <div class="button" style="float: right;"><a href="/notice/admin/" class="none">돌아가기</a></div>
  {% endblock %}

  <!-- article -->
  {% block article %}
  {% endblock %}