{% extends "write_base.html" %}

<!-- 화면 첫 부분 -->

{% block intro %}
<h1>공지사항</h1>
{% endblock %}

<!-- 메인 -->

{% block main %}
<article class="post featured">
  <header class="major">
    <h2><a> {{ notice.title }} </a></h2>
    <hr>
    <div class="image-wrapper">
      <div class="image">
        {% if notice.image %}
        <a class="image main"><img src="{{ notice.image.url }}" /></a>
        {% endif %}
        <div style="text-align: left; font-size: 1rem;">
          <pre>{{ notice.content }}</pre>
        </div>
      </div>
    </div>
    <hr>
    <div class="button" style="float: right;"><a href="/notice/" class="none">돌아가기</a></div>
  </header>
</article>
{% endblock %}

<!-- article -->
{% block article %}
{% endblock %}