{% extends "write_base.html" %}

<!-- 스타일 -->
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>
  $(document).ready(function () {
    $('#id_content').summernote({
      height: 300
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function () {
    searchajax();
  });
</script>
{% endblock %}

<!-- 메인 -->

{% block main %}
<div class="row mt-5">
  <div class="col-12 text-center">
    <h2>장/모임 만들기</h2>
  </div>
</div>
<br>

<a href="#ourtalentmarket_info" rel="modal:open" class="none"><button>우리들의 재능장 설명서</button></a>

<div class="row mt-5">
  <div class="col-12">
    {{ error }}
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action="." enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {% if field.name == 'content' %}
        <label for="{{ field.id_for_label }}" style="float: left;">{{ field.label }}</label>
        <textarea class="form-control" style="height: 10rem;" name="{{ field.name }}"
          id="{{ field.id_for_label }}"></textarea>
        {% elif field.name == 'index_name' %}
        <label for="{{ field.id_for_label }}" style="float: left;">{{ field.label }}</label>
        <select name="index_name" id="index_name">
          <option value="재능장">재능장</option>
          <option value="수공예품">공예품장</option>
          <option value="소모임">소모임</option>
        </select>
        {% elif field.name == "image" %}
        <label for="{{ field.id_for_label }}" style="float: left;">{{ field.label }}(JPG,JPEG,PNG,GIF 512kb미만,
          1장)</label>
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}" name="{{ field.name }}" style="margin-bottom: 8px; padding: 3px;"
          accept="image/gif, image/jpg, image/jpeg, image/png" onchange="checkFile(this)">
        <a href=" https://heictojpg.com/" target="_blank" class="none" style="font-size: 12px;">
          <div style="border: 1px solid; text-align: center; width: 100%; margin-bottom: 8px;">HEIC파일(애플
            이미지) 변환하기 </div>
        </a>
        <a href="https://blogsearch.kr/resize/" target="_blank" class="none" style="font-size: 12px;">
          <div style="border: 1px solid; text-align: center; width: 100%;">사진 크기 줄이기</div>
        </a>
        {% else %}
        <label for="{{ field.id_for_label }}" style="float: left;">{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}" name="{{ field.name }}">
        {% endif %}
      </div>
      {% if field.errors %}
      <span style="color: red">{{ field.errors }}</span>
      {% endif %}
      {% endfor %}
      <p class="text-muted">
        모든 항목을 작성해주셔야하며, 학생증 인증 이후 승인됩니다.<br>
        <a class="none" style="font-size: 0.7rem;">※ 제가 아직 미개한 개발자라 아직 학생증 인증을 구현못해서 개별연락 갑니다.</a>
      </p>
      <ul class="actions">
        <li><input type="submit" value="만들기" /></li>
      </ul>
    </form>
  </div>
</div><br>


<ul class="actions special">
  <div id="ourtalentmarket_info" class="modal">
    <div style="height: 95%;
    width: calc(100% - 1rem);
    overflow:auto;
    scrollbar-base-color:gold;
    font-family:sans-serif;
    padding:10px;" align="center">
      <header class="major">
        <h3>
          규정사항 및 설명서
        </h3>
        <ol>
          <li>
            '우리들의 재능장'은 학생들이 스스로 서비스를 <br />
            제공해보는 경험을 할 수 있도록 만들어졌습니다.
          </li>
          <br />
          <li>
            서비스 제공은 외주 / 강의 / 공예품 / 소모임 운영의 <br />
            형태로 가능합니다.
          </li>
          <br />
          <li>
            서비스 제공은 장/모임을 등록 한 뒤, <br />
            학생증 인증을 통해 승인 이후 가능합니다.
          </li>
          <br />
          <li>
            3개월 이상 관리되지 않은 서비스는 통지 이후 <br />
            삭제될 수 있습니다.
          </li>
          <br />
          <li>
            불법적인 서비스 제공은 불가능합니다. <br />
            ( ex) 집에서 감기약으로 쉽게 만드는 필로폰 제조 강의 )
          </li>
          <br />
          <li>
            적정 가격은 판매자 스스로 책정합니다.<br />
            모든 건 보이지 않는 손에게 맡깁니다.<br />
            기부를 해도, 비싸게 팔다가 안팔려도 좋습니다.<br />
          </li>
          <br />
          <li>
            서비스 제공은 건양대 학생만 가능함을 원칙으로 하며,<br />
            구매자는 외부인도 가능합니다.
          </li>
          <br />
          <li>
            건양대학생은 장/모임 개시일 기준<br />
            휴학생, 재학생, 졸업 1년 이내의 졸업생을 말합니다.
          </li>
          <br />
          <li>
            후에 사이트가 커지면 **마켓이나 에타처럼<br>
            지점을 늘리는 방식으로 규모를 키우겠습니다.
          </li>
          <br />
          <li>
            외부인이 서비스를 제공하기 위해서는 <br />
            사이트 운영자의 대면 허가가 필요합니다.
          </li>
          <br />
          <li>
            사기등, 불법적인 행동에 대한 책임은<br />
            판매자에게 있습니다.
          </li>
          <br />
          <li>
            구매에서 선택에 대한 책임은 구매자에게 있습니다.<br />
          </li>
          <br />
          <li>
            사이트 운영자는
            사이트 불편에 대한 책임만을 가집니다. <br />
            다만 불법적인 활동 확인시
            최선을 다해 법적 대처 하겠으며, <br />
            정의수호를 돕겠습니다.
          </li>
          <br />
          <li>
            재능장 내 종교, 정치적 활동을 금지합니다. <br />
            학생들의 꿈을 위해 만들어진 공간입니다. <br />
            사안에 따라 적극적 법적 대처 하겠습니다.
          </li>
          <br />
          <li>
            발생하는 모든 수익에 대한
            신고 의무는 판매자에게 있습니다.
          </li>
          <br>
          <li>
            기타 '우리들의 재능장' 운영에 <br />
            지장이 생기는 행동은 제제될 수 있습니다.
          </li>
          <br>
          <li>
            이외의 사안에 대해서는 관례와 상식을 따릅니다. <br />
          </li>
        </ol>
      </header>
    </div>
    <a href="#" rel="modal:close">닫기</a>
  </div>
  {% endblock %}

  {% block script %}
  <script type="text/javascript">
    function checkFile(k) {
      var file = k.files;
      if (file[0].size > 1024 * 1024 * 0.5) {
        alert('512kb 이하 파일만 등록할 수 있습니다.\n\n' + '현재파일 용량 : ' + (Math.round(file[0].size / 1024 / 1024 * 100) / 100) + 'MB')
        k.outerHTML = k.outerHTML;
      }
      else return;
    };
  </script>
  {% endblock %}