{% extends "write_base.html" %}
<!-- 메인 -->

{% block main %}

<h2>회원가입</h2><br>
<!-- 개인정보 수집동의 -->
<div class="fields">
    <form method="POST" action=".">
        {% csrf_token %}
        <div style="width: calc(100% - 0.75rem);
                    font-family:sans-serif;
                    padding:3em;
                    border:2px solid;" align="center">
            <div style="width: calc(100% - 0.5rem);" align="center">
                <h2>재능장 회원가입을 위한<br />
                    개인정보 수집 · 이용 동의서</h2>
            </div>
            <div style="width: calc(100% - 0.75rem);">
                '우리들의 재능장'은 회원가입을 위하여<br />
                아래와 같이 개인정보를 수집 · 이용하고자 합니다.<br />
                내용을 자세히 읽으신 후 동의 여부를 결정하여 주십시오.
            </div><br />
            <div class="table-wrapper" style="border:2px solid; width: calc(100% - 0.80rem); padding:0.5rem;">
                <table>
                    <thead>
                        <tr style="background-color: rgb(223, 221, 221);">
                            <th>항목</th>
                            <th>수집∙이용 목적</th>
                            <th>보유기간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>이메일</th>
                            <th>ID 저장 및 확인, 재능장 이용자 연락용</th>
                            <th>회원 탈퇴시까지</th>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <th>재능장 이용자 관리, 재능장 이용자 연락용, 건양대학교 학생임을 확인하기 위함</th>
                            <th>회원 탈퇴시까지</th>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <th>재능장 이용자 연락용</th>
                            <th>회원 탈퇴시까지</th>
                        </tr>
                        <tr>
                            <th>학과, 학번</th>
                            <th>재능장 이용자 관리, 건양대학교 학생임을 확인하기 위함</th>
                            <th>회원 탈퇴시까지</th>
                        </tr>
                        <tr>
                            <th>업로드 하시는 사진</th>
                            <th>재능장 운영위함</th>
                            <th>삭제시까지</th>
                        </tr>
                    </tbody>
                </table>
            </div><br />
            <div style="width: calc(100% - 0.75rem);">
                위의 개인정보 수집∙이용에 대한 동의를 거부할 권리가 있습니다.<br />
                그러나 동의를 거부할 경우 재능장 서비스 이용이 제한됩니다.<br />
                위와 같이 개인정보를 수집∙이용하는데 동의하십니까?
            </div><br />
            <input type="radio" id="Y" name="private" value="Y">
            <label for="Y">
                동의합니다.
            </label>
            <input type="radio" id="N" name="private" value="N">
            <label for="N">
                동의하지 않습니다.
            </label>
        </div><br />

        <!-- 규정사항 -->
        <ul class="actions special">
            <div id="ex1" class="modal">
                <div style="height: 500px;
            width: calc(100% - 0.75rem);
            overflow:auto;
            scrollbar-base-color:gold;
            font-family:sans-serif;
            padding:10px;" align="center">
                    <h3>
                        규정사항 및 설명서
                    </h3>
                    <ol>
                        <li>
                            '우리들의 재능장'은 학생들이 스스로 서비스를 <br />
                            제공해보는 경험을 할 수 있도록 만들어졌습니다.
                        </li>
                        <br />
                        <li>
                            서비스 제공은 외주 / 강의 / 공예품 / 소모임 운영의 <br />
                            형태로 가능합니다.
                        </li>
                        <br />
                        <li>
                            서비스 제공은 장/모임을 등록 한 뒤, <br />
                            학생증 인증을 통해 승인 이후 가능합니다.
                        </li>
                        <br />
                        <li>
                            3개월 이상 관리되지 않은 서비스는 통지 이후 <br />
                            삭제될 수 있습니다.
                        </li>
                        <br />
                        <li>
                            불법적인 서비스 제공은 불가능합니다. <br />
                            ( ex) 집에서 감기약으로 쉽게 만드는 필로폰 제조 강의 )
                        </li>
                        <br />
                        <li>
                            적정 가격은 판매자 스스로 책정합니다.<br />
                            모든 건 보이지 않는 손에게 맡깁니다.<br />
                            기부를 해도, 비싸게 팔다가 안팔려도 좋습니다.<br />
                        </li>
                        <br />
                        <li>
                            서비스 제공은 학교 학생만 가능하며,<br />
                            구매자는 외부인도 가능합니다.
                        </li>
                        <br />
                        <li>
                            사기등, 불법적인 행동에 대한 책임은<br />
                            판매자에게 있습니다.
                        </li>
                        <br />
                        <li>
                            구매에서 선택에 대한 책임은 구매자에게 있습니다.<br />
                        </li>
                        <br />
                        <li>
                            사이트 운영자는
                            사이트 불편에 대한 책임만을 가집니다. <br />
                            다만 불법적인 활동 확인시
                            최선을 다해 법적 대처 하겠으며, <br />
                            정의수호를 돕겠습니다.
                        </li>
                        <br />
                        <li>
                            재능장 내 종교, 정치적 활동을 금지합니다. <br />
                            학생들의 꿈을 위해 만들어진 공간입니다. <br />
                            사안에 따라 적극적 법적 대처 하겠습니다.
                        </li>
                        <br />
                        <li>
                            발생하는 모든 수익에 대한
                            신고 의무는 판매자에게 있습니다.
                        </li>
                    </ol>
                    <a href="#" rel="modal:close">닫기</a>
                </div>
            </div>
            <a href="#ex1" rel="modal:open"><button>규정사항</button></a>
        </ul>

        <!-- 가입창 -->

        {% for field in form %}
        {% if field.name != "private" %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" align="left">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                placeholder="{{ field.label }}" name="{{ field.name }}">
        </div><br />
        {% endif %}
        {% if field.errors %}
        <span style="color: red">{{ field.errors }}</span>
        {% endif %}
        {% endfor %}
        <p class="text-muted">
            모든 항목을 작성해주셔야합니다.<br>
            <a class="none" style="font-size: 0.7rem;">※ 제가 아직 미개한 개발자라 사이트 이용에 어려운 점이 있다면 꼭 질문하기에 올려주세요.</a>
        </p>
        <div align="left">
            <button type="submit">회원가입</button>
        </div>
    </form>
</div>
{% endblock %}